<app-navbar></app-navbar>

<div class="position-relative parent-container">
  <div class="img-container d-flex w-100 h-100 gap-4">
    <div class="vertical-image-container d-flex flex-column gap-3">
      <div class="img-container" style="background-image: url(../../assets/turtle.jpeg);">
        <div class="gradient"></div>
      </div>
      <div class="img-container" style="background-image: url(../../assets/forest.jpg);">
        <div class="gradient"></div>
      </div>
      <div class="img-container" style="background-image: url(../../assets/dolphins.jpg);">
        <div class="gradient"></div>
      </div>
    </div>
    <div class="vertical-image-container d-flex flex-column gap-3">
      <div class="img-container" style="background-image: url(../../assets/macaws.jpeg);">
        <div class="gradient"></div>
      </div>
      <div class="img-container" style="background-image: url(../../assets/jungle.jpg);">
        <div class="gradient"></div>
      </div>
      <div class="img-container" style="background-image: url(../../assets/squirrel.jpg);">
        <div class="gradient"></div>
      </div>
    </div>
    <div class="vertical-image-container d-flex flex-column gap-3">
      <div class="img-container" style="background-image: url(../../assets/arcticBanner.jpeg);">
        <div class="gradient"></div>
      </div>
      <div class="img-container" style="background-image: url(../../assets/artic.jpg);">
        <div class="gradient"></div>
      </div>
      <div class="img-container" style="background-image: url(../../assets/squirrel.jpg);">
        <div class="gradient"></div>
      </div>
    </div>
    <div class="vertical-image-container d-flex flex-column gap-3">
      <div class="img-container" style="background-image: url(../../assets/turtle.jpeg);">
        <div class="gradient"></div>
      </div>
      <div class="img-container" style="background-image: url(../../assets/forest.jpg);">
        <div class="gradient"></div>
      </div>
      <div class="img-container" style="background-image: url(../../assets/dolphins.jpg);">
        <div class="gradient"></div>
      </div>
    </div>
    <div class="vertical-image-container d-flex flex-column gap-3">
      <div class="img-container" style="background-image: url(../../assets/macaws.jpeg);">
        <div class="gradient"></div>
      </div>
      <div class="img-container" style="background-image: url(../../assets/jungle.jpg);">
        <div class="gradient"></div>
      </div>
      <div class="img-container" style="background-image: url(../../assets/squirrel.jpg);">
        <div class="gradient"></div>
      </div>
    </div>
    <div class="vertical-image-container d-flex flex-column gap-3">
      <div class="img-container" style="background-image: url(../../assets/turtle.jpeg);">
        <div class="gradient"></div>
      </div>
      <div class="img-container" style="background-image: url(../../assets/forest.jpg);">
        <div class="gradient"></div>
      </div>
      <div class="img-container" style="background-image: url(../../assets/dolphins.jpg);">
        <div class="gradient"></div>
      </div>
    </div>
  </div>

  <div class="box-container position-absolute w-100 h-100">
    <div class="box text-center">
      <i class="fa-solid fa-lock fa-2xl mb-5"></i>
      <h1 class="mb-4">This content is for premium accounts only</h1>
      <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit id venenatis pretium risus euismod dictum egestas</p>
      <div class="btn-container p-4">
        <button class="px-4 py-3 fs-5" routerLink = "/subscribe">Subscribe Today!</button>
      </div>
    </div>
  </div>
</div>
