.login-container {
  display: flex;
  justify-content: center;
  padding-top: 6rem;

}

.login-box {
  background-color: #181818;
  padding: 3rem 2rem;
  width: 40%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input {
  background-color: #2F2F2F;
  color: white;
  border: none;
  outline: none;

}

input:focus {
  background-color: rgb(69, 69, 69);
}

button {
  border: none;
  outline: none;
  background-color: rgb(13, 110, 253);
  color: white;
  /*font-size: 1.25rem;
  */font-weight: 600;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

button:hover {
  background-color: white;
  color: rgb(13, 110, 253);
}

.link {
  cursor: pointer;
  color: white;
}

.link:hover {
  color: #b4b4b4;
}

.eye-button {
  background: none;
  border: none;
  outline: none;

  position: absolute;
  right: 25px;
  top: 25%;
}

.eye-button:hover {
  cursor: pointer;
  background: none;
  color: white;
}

input#password, input#confirm-password {
  z-index: 1;
}

i {
  z-index: 10;
}

.alerts-border {
  animation: blink 1s infinite;
  outline: 1.5px solid #2F2F2F;
  /*animation-iteration-count: infinite;
  */-webkit-animation: blink 0.5s;
  -webkit-animation: blink 1s infinite;
  transition: outline-width;
  -webkit-transition: outline-width;
  -moz-transition: outline-width;
  -ms-transition: outline-width;
  -o-transition: outline-width;
}

@keyframes blink {
  50%{
    outline-color: red;
  }
 }
